* {
  box-sizing: border-box;
}

:root {
  --number-coloms: 3;
}

.field {
  display: flex;
  /* gap: 20px;   */
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  margin: 10px;
  width: calc(100% / var(--number-coloms) - 4 * 5px);
  /* min-width: 100px; */
}

.sizer {
  width: 100%;
  padding-top: 150%; /*change aspect!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  background-color: #00f;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f00;
  width: 100%;
  height: 100%;
}

.content2 {
  background-image: url('./poker-pointing2.png');
  background-position: center;
  background-size: cover;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
